* {
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48 px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30 px;
    font-weight: 500;
}

p {
    font-family: 'Montserrat', sans-serif;
}

td {
    font-family: 'Montserrat', sans-serif;
}

input {
    font-family: 'Montserrat', sans-serif;
}
